<!doctype html>
{% load static %}

<html lang="pl">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>GarageApp</title>
  <meta name="author" content="SitePoint">

  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&family=Inter:wght@300&display=swap" rel="stylesheet">
  <link rel='stylesheet' type="text/css" href="{% static 'css/main.css' %}" media="screen" rel="stylesheet">


</head>

<body>
  
    {% include 'navbar.html' %}
    {% block content %}

    {% endblock content %}
</body>
</html>