<!DOCTYPE html>
{% load static %}

<html lang="pl">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>GarageApp</title>
  <meta name="author" content="SitePoint" />

  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&family=Inter:wght@300&display=swap"
    rel="stylesheet" />
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" media="screen" rel="stylesheet" /> -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
</head>

<body class="bg-dark">


  <div class="container bg-dark mt-4">
    <div class="row">
        <div class="col-lg-3 mt-4 d-flex flex-column flex-shrink-0 p-3 text-bg-dark" style="width: 280px" bis_skin_checked="1">
          <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
            <svg class="bi pe-none me-2 " width="40" height="32">
            </svg>

            <span class="fs-4">
              <i class="bi bi-wrench"></i> &nbsp

              My garage</span>
          </a>
          <hr />
          <ul class="nav nav-pills flex-column mb-auto">
            <li>
              <a href="{% url 'home' %}" class="nav-link active" aria-current="true">
                <i class="bi bi-house"></i>
                Home
              </a>
            </li>
            <li>
              <a href="#" class="nav-link text-white">
                <i class="bi bi-envelope"></i>
                Wiadomości
              </a>
            </li>
            <li>
              <a href="#" class="nav-link  text-white" aria-current="true">
                <i class="bi bi-card-list"><use xlink:href="#people-circle"></use></i>
                Aktywne naprawy
              </a>
            </li>
            <li class="nav-item ">
              <a href="{% url 'createrepair'%}" class="nav-link text-white" >
                <i class="bi bi-plus-square"></i>
                Dodaj naprawę
              </a>
            </li>
            <li>
              <a href="{% url 'cars' %}" class="nav-link text-white">
                <i class="bi bi-car-front-fill"></i>

                Samochody
              </a>
            </li>
            <li>
              <a href="{% url 'addclient' %}" class="nav-link text-white">
                <i class="bi bi-person-circle"></i>
                Klienci
              </a>
            </li>
          </ul>
          <hr />
          <div class="dropdown" bis_skin_checked="1">
            <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
              data-bs-toggle="dropdown" aria-expanded="false">
              <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2" />
              <strong>Witaj {{request.user.first_name}}</strong>
            </a>
            <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
              <li><a class="dropdown-item" href="{% url 'createrepair'%}">Dodaj naprawę</a></li>
              <li><a class="dropdown-item" href="#">Twój profil</a></li>
              <!-- <li><a class="dropdown-item" href="#">Profile</a></li> -->
              <li>
                <hr class="dropdown-divider" />
              </li>
              <li>
                <a class="dropdown-item" href="{% url 'logout' %}">Sign out</a>
              </li>
            </ul>
          
        </div>
      </div>
      <div class="col text-white bg-dark px-4 text-center">
        {% block content %} {% endblock content %}
      </div>
    </div>
  </div>

  <!-- <script src=""></script> -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
    crossorigin="anonymous"></script>
</body>

</html>