{% extends 'main.html' %}
{% block content %}
<div class="repair-title">

    <h2>{{car.manufacturer|upper}} {{car.model|upper}}  <a class="plate" style="width:10px">{{repair.car.license_plate}}</a></h2>

    <a>VIN: {{car.vin|upper}}<br>ROK: {{car.year}}</a>
</div>
<div class="car-container">

    <div>
        <h2>
            Dane Klienta
        </h2>
        <p>Imię i nazwisko:<br>{{car.owner.first_name}} {{car.owner.last_name}}</p>
        <p>Telefon:<br>{{car.owner.phone}}</p>
        <p>Email:<br>{{car.owner.email}}</p>
    </div>
    
    <div>
        <h2>Opis</h2>

        <p>{{car.description}}</p>

        
        
    </div>
    <h2>Aktywne naprawy


        {% for repair in repairs %}
        
        <a href="{% url 'repair' repair.id %}">{{ repair.main_fault }}</a>
        <hr>
        {% endfor %}

    </h2>

    <div>

    </div>


</div>
<hr>
<div class="repair-title">
        <a href="{% url 'home' %}" ><button class="btn btn-light rounded-pill px-3">Wróć na stronę główną</button></a>
</div>


{% endblock content %}

