{% extends 'main.html' %}

{% block content %}

    


<br>
<div class="home-conainter">
    <div class="activ-repair-list">
        <div class="container-content">
            <h2>Statystyki:</h2>
        Liczba samochodów na warsztacie: <br>{{ activeRepairsCount }}<BR><BR>
        Liczba zamkniętych zleceń: <br>{{ closedRepairsCount }}

        </div>
        
    </div>
    <div class="activ-repair-list">
        <div class="container-content">
            <h2>Lista aktywnych napraw:</h2>
            
                    <a href="{% url 'createrepair' %}" class="button">DODAJ ZLECENIE</a>    
            <!-- {% for repair in repairs %}
            <div style="margin:5px;">
                <a href="{% url 'repair' repair.id %}" class="car-list-main-page">{{ active_repairs.main_fault|upper }}</a>
            </div>
            {% endfor %} -->
            {% for repair in active_repairs %}
            <div style="margin:5px;">
                <a href="{% url 'repair' repair.id %}" class="car-list-main-page">{{repair.car.manufacturer}} {{repair.car.model}} - {{ repair.main_fault|upper }}</a>
            </div>
            {% endfor %}

        </div>
    </div>
    <div class="activ-repair-list">
        <div class="container-content">
            <h2>Lista samochodów:</h2>
            <!-- <a href="{% url 'profile' profile.id}">{{user.first_name}} {{user.last_name}}</a> -->
            
                    <a href="{% url 'addcar' %}" class="button">Dodaj samochód</a>
                
            {% for car in cars %}
    
            <p><a href="{% url 'car' car.id %}" class="car-list">{{car.manufacturer}} {{ car.model }}, {{ car.year}}</a></p>
    
            {% endfor %}    
        </div>
        

    </div>


</div>
</div>
{% endblock content %}

