{% extends 'main_intro.html' %}
        {% block content %}

        <header class="p-3 text-bg-dark">
            <div class="container" bis_skin_checked="1">
              <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start" bis_skin_checked="1">
                <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                  <svg xmlns="http://www.w3.org/2000/svg" width="40" height="32" fill="currentColor" role="img"  class="bi bi-arrow-left-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M1 11.5a.5.5 0 0 0 .5.5h11.793l-3.147 3.146a.5.5 0 0 0 .708.708l4-4a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 11H1.5a.5.5 0 0 0-.5.5zm14-7a.5.5 0 0 1-.5.5H2.707l3.147 3.146a.5.5 0 1 1-.708.708l-4-4a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H14.5a.5.5 0 0 1 .5.5z"/>
                  </svg>
                </a>
        
                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                  <li><a href="#" class="nav-link px-2 text-secondary">Home</a></li>
                  <li><a href="#features" class="nav-link px-2 text-white">Funkcje</a></li>
                  <li><a href="#" class="nav-link px-2 text-white">Cena</a></li>
                  <li><a href="#" class="nav-link px-2 text-white">FAQ</a></li>
                  <li><a href="#" class="nav-link px-2 text-white">O mnie</a></li>
                </ul>
        
                
        
                <div class="text-end" bis_skin_checked="1">
                  <button type="button" class="btn btn-outline-light me-2"><a href="/login" style="text-decoration: none;">Login</a></button>

                </div>
              </div>
            </div>
          </header>
        <div class="px-4 py-5 my-5 text-center" bis_skin_checked="1">
            <img class="d-block mx-auto mb-4" src="https://w7.pngwing.com/pngs/193/1003/png-transparent-white-vehicle-illustration-chicago-spothero-parking-mobile-app-car-park-size-icon-parking-miscellaneous-blue-company.png" alt="" width="72">
            <h1 class="display-5 fw-bold text-body-emphasis">Garage app - bądź w kontakcie</h1>
            <div class="col-lg-6 mx-auto" bis_skin_checked="1">
              <p class="lead mb-4">Dzięki GaRAGE app zyskasz pełną kontrolę nad stanem technicznym swojego pojazdu oraz zminimalizujesz ryzyko niespodziewanych awarii. To nie tylko narzędzie do efektywnego zarządzania, ale także społeczność, w której możesz dzielić się swoją pasją z innymi miłośnikami motoryzacji. Pobierz GaRAGE app już dziś i podkreśl indywidualność swojego pojazdu!</p>
              <div class="d-grid gap-2 d-sm-flex justify-content-sm-center" bis_skin_checked="1">
                <a href="#features"><button type="button" class="btn btn-primary btn-lg px-4 gap-3">Funkcje</button>
                </a>
                
                <button type="button" class="btn btn-outline-secondary btn-lg px-4">CHCĘ TO</button>
              </div>
            </div>
          </div>
          <div class="container px-4 py-5" bis_skin_checked="1">
            <h2 class="pb-2 border-bottom" id="features">Funkcje aplikacji</h2>
        
            <div class="row row-cols-1 row-cols-md-2 align-items-md-center g-5 py-5" bis_skin_checked="1">
              <div class="col d-flex flex-column align-items-start gap-2" bis_skin_checked="1">
                <h2 class="fw-bold text-body-emphasis">Intuicyjny interfejs</h2>
                <p class="text-body-secondary">PAplikacja oferuje prosty i intuicyjny interfejs, co sprawia, że nawet osoby niezaznajomione z zaawansowaną technologią mogą łatwo korzystać z wszystkich funkcji.</p>
                <a href="#" class="btn btn-primary btn-lg">Sprawdź!</a>
              </div>
        
              <div class="col" bis_skin_checked="1">
                <div class="row row-cols-1 row-cols-sm-2 g-4" bis_skin_checked="1">
                  <div class="col d-flex flex-column gap-2" bis_skin_checked="1">
                    <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3" bis_skin_checked="1">
                      <svg class="bi" width="1em" height="1em">
                        <use xlink:href="#collection"></use>
                      </svg>
                    </div>
                    <h4 class="fw-semibold mb-0 text-body-emphasis">Harmonogram konserwacji</h4>
                    <p class="text-body-secondary">Zaprogramuj regularne przeglądy, wymiany oleju, filtra powietrza i inne rutynowe czynności konserwacyjne. Aplikacja pamięta o zbliżających się terminach i przypomina o konieczności wykonania określonych prac.</p>
                  </div>
        
                  <div class="col d-flex flex-column gap-2" bis_skin_checked="1">
                    <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3" bis_skin_checked="1">
                      <svg class="bi" width="1em" height="1em">
                        <use xlink:href="#gear-fill"></use>
                      </svg>
                    </div>
                    <h4 class="fw-semibold mb-0 text-body-emphasis">Monitoring kosztów</h4>
                    <p class="text-body-secondary">Śledź wszelkie wydatki związane z utrzymaniem pojazdu. GaRAGE app umożliwia dokładne rejestrowanie kosztów paliwa, napraw, części zamiennych i innych wydatków, co pozwala na lepszą kontrolę budżetu związanego z pojazdem..</p>
                  </div>
        
                  <div class="col d-flex flex-column gap-2" bis_skin_checked="1">
                    <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3" bis_skin_checked="1">
                      <svg class="bi" width="1em" height="1em">
                        <use xlink:href="#speedometer"></use>
                      </svg>
                    </div>
                    <h4 class="fw-semibold mb-0 text-body-emphasis">Historia napraw</h4>
                    <p class="text-body-secondary">Zachowaj pełną historię napraw i konserwacji. Dzięki tej funkcji możesz śledzić, jakie prace były wykonane w przeszłości, co ułatwia diagnostykę problemów oraz planowanie przyszłych działań serwisowych.</p>
                  </div>
        
                  <div class="col d-flex flex-column gap-2" bis_skin_checked="1">
                    <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3" bis_skin_checked="1">
                      <svg class="bi" width="1em" height="1em">
                        <use xlink:href="#table"></use>
                      </svg>
                    </div>
                    <h4 class="fw-semibold mb-0 text-body-emphasis">Przypomnienia o ubezpieczeniu</h4>
                    <p class="text-body-secondary">Ustaw przypomnienia dotyczące terminów ważności ubezpieczenia pojazdu. Dzięki temu zawsze będziesz mieć aktualne polisy i unikniesz nieprzyjemnych sytuacji związanych z brakiem ważnego ubezpieczenia.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- </main>

    <div class="text-white">
        <h1>Odkryj Naszą Rewolucyjną Aplikację do Zarządzania Naprawami Samochodowymi!</h1>
        <p>Witaj w naszej innowacyjnej aplikacji do zarządzania naprawami samochodowymi, która zapewni Ci niezrównane korzyści i wygodę. Nasza platforma została stworzona z myślą o Tobie – zarówno dla klientów, jak i mechaników. Poznaj, dlaczego warto wybrać naszą aplikację:</p>
        
        <h2>Zalety dla Klientów:</h2>
        <ol>
            <li>Śledź Swój Samochód Online: Oferujemy Ci unikalną szansę śledzenia postępu naprawy Twojego samochodu online. Dzięki temu zawsze będziesz na bieżąco z aktualnym statusem naprawy i etapami prac.</li>
            <li>Zaplanuj Odbiór: Teraz możesz wygodnie zaplanować odbiór swojego samochodu. Otrzymasz powiadomienie, gdy auto będzie gotowe, co pozwoli Ci zaoszczędzić cenny czas.</li>
            <li>Zarządzaj Historią Napraw: Dzięki naszej aplikacji masz dostęp do pełnej historii napraw Twojego pojazdu. To idealne rozwiązanie, by śledzić utrzymanie i stan techniczny swojego samochodu.</li>
        </ol>
        
        <h2>Zalety dla Mechaników:</h2>
        <ol>
            <li>Przejrzyste Zlecenia: Nasza aplikacja ułatwia organizację zleceń napraw, co przyspiesza pracę warsztatu. Wygodne przypisywanie klientów i napraw pozwoli Ci na sprawną komunikację.</li>
            <li>Wydajna Komunikacja: Nasza platforma umożliwia płynną wymianę informacji z klientami. Dzięki temu można uniknąć nieporozumień i utrzymać dobrą relację z klientem.</li>
            <li>Proste Raportowanie: Generowanie raportów i statystyk stało się łatwiejsze niż kiedykolwiek. To cenne narzędzie do analizy efektywności warsztatu.</li>
        </ol>
        
        <h2>Dla Wszystkich:</h2>
        <ol>
            <li>Bezpieczeństwo Danych: Dbamy o Twoje dane! Nasza aplikacja gwarantuje pełne bezpieczeństwo informacji, co pozwala Ci spokojnie korzystać z jej możliwości.</li>
            <li>Intuicyjna Nawigacja: Nasza aplikacja została zaprojektowana z myślą o prostocie i intuicyjności. Bez względu na to, czy jesteś klientem czy mechanikiem, z łatwością odnajdziesz się w naszej aplikacji.</li>
            <li>Wsparcie Techniczne: Jesteśmy tutaj, by Ci pomóc! Nasz zespół wsparcia technicznego stoi do Twojej dyspozycji w razie wszelkich pytań czy problemów.</li>
        </ol>
        
        <p>Dołącz do Naszej Społeczności i Zyskaj Wyjątkowe Korzyści Dla Twojego Pojazdu!</p>
    </div>-->

{% endblock content %} 