{% extends 'homePage_main.html' %}
        {% block content %}





    <div style="text-align: center; padding: 20px;">
        <h1>Odkryj Naszą Rewolucyjną Aplikację do Zarządzania Naprawami Samochodowymi!</h1>
        <p>Witaj w naszej innowacyjnej aplikacji do zarządzania naprawami samochodowymi, która zapewni Ci niezrównane korzyści i wygodę. Nasza platforma została stworzona z myślą o Tobie – zarówno dla klientów, jak i mechaników. Poznaj, dlaczego warto wybrać naszą aplikację:</p>
        
        <h2>Zalety dla Klientów:</h2>
        <ol>
            <li>Śledź Swój Samochód Online: Oferujemy Ci unikalną szansę śledzenia postępu naprawy Twojego samochodu online. Dzięki temu zawsze będziesz na bieżąco z aktualnym statusem naprawy i etapami prac.</li>
            <li>Zaplanuj Odbiór: Teraz możesz wygodnie zaplanować odbiór swojego samochodu. Otrzymasz powiadomienie, gdy auto będzie gotowe, co pozwoli Ci zaoszczędzić cenny czas.</li>
            <li>Zarządzaj Historią Napraw: Dzięki naszej aplikacji masz dostęp do pełnej historii napraw Twojego pojazdu. To idealne rozwiązanie, by śledzić utrzymanie i stan techniczny swojego samochodu.</li>
        </ol>
        
        <h2>Zalety dla Mechaników:</h2>
        <ol>
            <li>Przejrzyste Zlecenia: Nasza aplikacja ułatwia organizację zleceń napraw, co przyspiesza pracę warsztatu. Wygodne przypisywanie klientów i napraw pozwoli Ci na sprawną komunikację.</li>
            <li>Wydajna Komunikacja: Nasza platforma umożliwia płynną wymianę informacji z klientami. Dzięki temu można uniknąć nieporozumień i utrzymać dobrą relację z klientem.</li>
            <li>Proste Raportowanie: Generowanie raportów i statystyk stało się łatwiejsze niż kiedykolwiek. To cenne narzędzie do analizy efektywności warsztatu.</li>
        </ol>
        
        <h2>Dla Wszystkich:</h2>
        <ol>
            <li>Bezpieczeństwo Danych: Dbamy o Twoje dane! Nasza aplikacja gwarantuje pełne bezpieczeństwo informacji, co pozwala Ci spokojnie korzystać z jej możliwości.</li>
            <li>Intuicyjna Nawigacja: Nasza aplikacja została zaprojektowana z myślą o prostocie i intuicyjności. Bez względu na to, czy jesteś klientem czy mechanikiem, z łatwością odnajdziesz się w naszej aplikacji.</li>
            <li>Wsparcie Techniczne: Jesteśmy tutaj, by Ci pomóc! Nasz zespół wsparcia technicznego stoi do Twojej dyspozycji w razie wszelkich pytań czy problemów.</li>
        </ol>
        
        <p>Dołącz do Naszej Społeczności i Zyskaj Wyjątkowe Korzyści Dla Twojego Pojazdu!</p>
    </div>

{% endblock content %}